Repository LorenFrankLab/spyglass, pull requests merged in 2023-12, with the labels that each got.

#651 Spike sorting v1 pipeline
  .vscode/settings.json
  notebooks/10_Spike_SortingV1.ipynb
  src/spyglass/common/common_interval.py
  src/spyglass/common/populate_all_common.py
  src/spyglass/spikesorting/imported.py
  src/spyglass/spikesorting/merge.py
  src/spyglass/spikesorting/v1/__init__.py
  src/spyglass/spikesorting/v1/artifact.py
  src/spyglass/spikesorting/v1/curation.py
  src/spyglass/spikesorting/v1/figurl_curation.py
  src/spyglass/spikesorting/v1/metric_curation.py
  src/spyglass/spikesorting/v1/metric_utils.py
  src/spyglass/spikesorting/v1/recording.py
  src/spyglass/spikesorting/v1/sorting.py
  src/spyglass/spikesorting/v1/utils.py
Labels: spike sorting

#721 Avoid bug in spikeinterface for low spikecounts
  src/spyglass/spikesorting/spikesorting_curation.py
Labels: bug, spike sorting

#724 Priority for fetch_nwb function in merge tables
  src/spyglass/lfp/lfp_merge.py
  src/spyglass/position/position_merge.py
  src/spyglass/position_linearization/position_linearization_merge.py
Labels: bug, merge

#729 Helper function for adding data to kachery
  src/spyglass/sharing/__init__.py
  src/spyglass/sharing/sharing_kachery.py
Labels: enhancement

#741 Check for upsampled data in trodes fetch dataframe
  src/spyglass/position/v1/position_trodes_position.py
Labels: position
