Repository LorenFrankLab/spyglass, pull requests merged in 2023-06, with the labels that each got.

#539 Add fetch_nwb method to PositionOutput
  src/spyglass/position/position_merge.py
Labels: position

#537 SPY-536-tweaks-to-mkdocs-doc
  docs/mkdocs.yml
  docs/src/index.md
  docs/src/stylesheets/extra.css
Labels: documentation

#503 Bug fixes and enhancements to position pipeline
  environment_position.yml
  src/spyglass/position/position_merge.py
  src/spyglass/position/v1/__init__.py
  src/spyglass/position/v1/dlc_utils.py
  src/spyglass/position/v1/position_dlc_centroid.py
  src/spyglass/position/v1/position_dlc_cohort.py
  src/spyglass/position/v1/position_dlc_model.py
  src/spyglass/position/v1/position_dlc_pose_estimation.py
  src/spyglass/position/v1/position_dlc_position.py
  src/spyglass/position/v1/position_dlc_project.py
  src/spyglass/position/v1/position_dlc_selection.py
Labels: bug, enhancement, position

#465 Handle whiten
  src/spyglass/spikesorting/spikesorting_sorting.py
Labels: bug, spike sorting

#560 Change to recording whitenening dtype
  src/spyglass/spikesorting/spikesorting_curation.py
  src/spyglass/spikesorting/spikesorting_sorting.py
Labels: bug, spike sorting

#487 Move LFP merge table to outside v1
  .vscode/settings.json
  docs/src/misc/merge_tables.md
  src/spyglass/common/common_ephys.py
  src/spyglass/lfp/__init__.py
  src/spyglass/lfp/lfp_merge.py
  src/spyglass/lfp/v1/__init__.py
  src/spyglass/lfp/v1/lfp.py
  src/spyglass/lfp/v1/lfp_artifact.py
  src/spyglass/lfp/v1/lfp_artifact_MAD_detection.py
  src/spyglass/lfp/v1/lfp_artifact_difference_detection.py
  src/spyglass/lfp_band/__init__.py
  src/spyglass/lfp_band/lfp_band_merge.py
  src/spyglass/lfp_band/v1/__init__.py
  src/spyglass/lfp_band/v1/lfp_band.py
  src/spyglass/utils/dj_helper_fn.py
  src/spyglass/utils/dj_merge_tables.py
  src/spyglass/utils/nwb_helper_fn.py
Labels: LFP

#557 Allow for multiple camera recordings within single epoch
  src/spyglass/common/common_behav.py
  src/spyglass/common/common_task.py
Labels: enhancement
