Repository LorenFrankLab/spyglass, pull requests merged in 2023-07, with the labels that each got.

#569 Update Position pipeline merge structure
  src/spyglass/position/position_merge.py
  src/spyglass/position/v1/position_dlc_selection.py
  src/spyglass/position/v1/position_trodes_position.py
  src/spyglass/utils/dj_merge_tables.py
Labels: position

#538 Add position linearization
  src/spyglass/position_linearization/__init__.py
  src/spyglass/position_linearization/position_linearization_merge.py
  src/spyglass/position_linearization/v1/__init__.py
  src/spyglass/position_linearization/v1/linearization.py
Labels: position

#588 update LFPBandV1 fetch1_dataframe
  src/spyglass/lfp_band/v1/lfp_band.py
Labels: bug

#594 Move LFPElectrodeGroup to lfp_electrode.py
  src/spyglass/lfp/__init__.py
  src/spyglass/lfp/lfp_electrode.py
  src/spyglass/lfp/lfp_imported.py
  src/spyglass/lfp/lfp_merge.py
  src/spyglass/lfp/v1/__init__.py
  src/spyglass/lfp/v1/lfp.py
  src/spyglass/lfp_band/lfp_band_merge.py
Labels: bug

#606 Lfp_analysis_move
  src/spyglass/lfp/analysis/__init__.py
  src/spyglass/lfp/analysis/v1/__init__.py
  src/spyglass/lfp/analysis/v1/lfp_band.py
  src/spyglass/lfp/v1/lfp_analysis/v1/__init__.py
  src/spyglass/ripple/v1/ripple.py
Labels: LFP

#607 Update analytic signal notebook
  notebooks/13_Theta_phase_and_power.ipynb
Labels: LFP

#608 Update 03_lfp notebook to reflect LFP changes
  notebooks/03_lfp.ipynb
Labels: LFP
